{% extends 'base.html' %}
<!-- 'load static' because using image(s) from static folder -->
<!-- {% load static %} -->
{% block content %}

<div class="col-md-6 offset-md-3">
	<h1>Change Password:</h1>
	<br/>
	<!-- 'enctype="multipart/form-data"' = includes file(s), as well as data -->
	<!-- NOTE: submitting updates for **both** forms with one POST: -->
	<form method="POST" action="">
		{% csrf_token %}
		{{ pwd_form.as_p }}
		<br/>
		<button type="submit" class="btn btn-secondary">Change Password</button>
	</form>
</div>

{% endblock %}