{% extends 'base.html' %}
<!-- 'load static' because using image(s) from static folder -->
{% load static %}
{% block content %}

<div class="container text-center">
	<div class="row">
		<div class="col-8">
			<br/>
			<div class="alert alert-dark" role="alert">
				<div class="container">
					<div class="row">
						<!-- class="col-11" = use 1/12th of width -->
						<div class="col-1">
							{% if deet.user.profile.profile_image %}
								<img src="{{ deet.user.profile.profile_image.url }}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">
							{% else %}
								<img src="{% static 'images/default_profile_pic.png' %}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">	
							{% endif %}
						</div>

						<!-- class="col-11" = use 11/12th of width -->
						<div class="col-11">
							{{ deet.body }}<br/>
							<small class="text-muted">
							({{ deet.created_at}}) By 
							@{{ deet.user.username }}
							- {{ deet.number_of_likes }} Likes - 

							{% if user in deet.likes.all %}
								<a href="{% url 'deet_like' deet.id %}" title="Unlike">
								<i class="fa-solid fa-heart" style="color:red"></i>
								</a>
							{% else %}
								<a href="{% url 'deet_like' deet.id %}" title="Like">
								<i class="fa fa-heart-o" style="color:red"></i>
								</a>
							{% endif %}

							</small>
						</div><br/><br/>
					</div>
				</div>
			</div>
			<br/><br/><br/>

			{% if form %}
				<form  method=POST>
					{% csrf_token %}
					<!-- display deet with previous entry pre-filled: -->
					{{ form.as_p }}
					<button type="submit" class="btn btn-secondary">Update Deet!</button>
				</form>
			{% endif %}
		
		</div>
	</div>
</div>

{% endblock %}